<section class="search-section">
  <!-- Filter Section -->
  <mat-card appearance="outlined">
    <mat-card-header>Search books by a title:</mat-card-header>
    <mat-form-field class="search-field">
      <input
        matInput
        (keyup)="filterBooks($event)"
        placeholder="Enter a title"
        #input
      />
    </mat-form-field>
  </mat-card>

  <!-- Sort Section -->
  <mat-card appearance="outlined">
    <mat-card-header>Sort books:</mat-card-header>
    <mat-card-content class="sort-buttons">
      <button matButton="tonal" (click)="sortBooks(BookAttributes.Author)">
        Sort <br />by author
      </button>
      <button matButton="tonal" (click)="sortBooks(BookAttributes.Title)">
        Sort <br />by title
      </button>
      <button matButton="tonal" (click)="sortBooks(BookAttributes.Pages)">
        Sort <br />by pages
      </button>
    </mat-card-content>
  </mat-card>
</section>

<table mat-table [dataSource]="displayedBooks" class="mat-shadow-2 books-table">
  <!-- Author Column -->
  <ng-container matColumnDef="author">
    <th mat-header-cell *matHeaderCellDef>Author</th>
    <td mat-cell *matCellDef="let book">
      {{ book.author.name }} {{ book.author.surname }}
    </td>
  </ng-container>

  <!-- Title Column -->
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef>Book's Title</th>
    <td mat-cell *matCellDef="let book">{{ book.title }}</td>
  </ng-container>

  <!-- Pages Column -->
  <ng-container matColumnDef="pages">
    <th mat-header-cell *matHeaderCellDef>Pages</th>
    <td mat-cell *matCellDef="let book">{{ book.pages }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr
    mat-row
    (click)="onBook(row)"
    *matRowDef="let row; columns: displayedColumns"
  ></tr>
  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">
      There are no books matching the title with "{{ input.value }}"
    </td>
  </tr>
</table>
