.books-table {
  width: 100%;
}

.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-color: currentColor;
  font-weight: bold;
}

.mat-column-author {
  width: 40%;
  max-width: 40%;
}

.mat-column-title {
  width: 50%;
  max-width: 50%;
}

.mat-column-pages {
  width: 10%;
  max-width: 10%;
}

.cdk-header-row {
  font-weight: bold;
  background-color: #b7c9e2;
  height: 40px;
}

mat-form-field.search-field {
  align-self: center;
  width: 90%;
}

.search-section {
  display: flex;
  justify-content: space-between;

  mat-card {
    width: 48%;
    margin-bottom: 20px;
    padding: 0 20px;
    border-style: none;

    mat-card-header {
      padding: 10px 16px 16px;
      color: grey;
      font-weight: 200;
      font-size: 14px;
    }

    mat-card-content {
      padding-bottom: 0;

      button {
        height: 54px;
        border-radius: 10px;
      }
    }

    .sort-buttons {
      display: flex;
      justify-content: space-between;

      button {
        flex: 1;
        margin: 0 5px;
        font-weight: 200;
      }
    }
  }
}
